---
const features = [
  {
    icon: 'assets/features/icon-01.svg',
    title: 'General Home Inspection (Existing & New Construction)',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Whether you’re buying or selling, our detailed inspections uncover hidden defects and give you the confidence to move forward with peace of mind.',
  },
  {
    icon: 'assets/features/icon-02.svg',
    title: '4 Point / Wind Mitigation Inspections',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Essential for insurance coverage, our 4-Point and Wind Mitigation inspections evaluate your home’s key systems and storm-resistant features—helping you save on premiums and stay protected.',
  },
  {
    icon: 'assets/features/icon-03.svg',
    title: 'Lateral Sewer Scope Inspections',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Our later sewer scope inspection uses a high-resolution camera to evaluate the condition of the main sewer line, identifying potential issues like blockages, root intrusion, and pipe damage. This service is valuable for homes of any age, as even newer properties can experience sewer line problems due to poor installation or construction debris.',
  },
  {
    icon: 'assets/features/icon-04.svg',
    title: 'Water / Air Quality Sampling',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'We offer friendly, thorough water & air testing services right here in Florida, checking for contaminants like bacteria, lead, and other substances that could affect your family’s well-being. We’ll walk you through the results and offer straightforward solutions to keep your water & air clean and your family safe.',
  },
  {
    icon: 'assets/features/icon-04.svg',
    title: 'Home Watch Services',
    ref: 'javascript:void(0)',
    refTitle: 'Learn More',
    description:
      'Our home watch service offers peace of mind while you’re away. We perform routine, scheduled checks on your property—looking for signs of water damage, mold, HVAC issues, pests, and security concerns. Each visit is thoroughly documented with photos and reports, so you’re always informed. Whether you’re a seasonal resident or frequent traveler, you can count on us to help protect your investment with reliable eyes on your home.',
  },
];
---

<!-- ====== Features Section Start -->
<section class="pt-20 pb-8 lg:pt-[120px] lg:pb-[70px] dark:bg-dark">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mb-12 mx-auto max-w-[485px] lg:mb-[70px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">
            Home Inspection Services
          </span>
          <h2 class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
            Making an Impact Through Honest, Reliable, and Professional Home Inspections
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            At Above and Beyond Home Solutions, we make a meaningful impact by delivering thorough, trustworthy home inspections that empower homeowners and buyers to make informed decisions. With advanced tools, industry expertise, and a commitment to excellence, we’re helping shape safer homes and stronger communities—one inspection at a time.
          </p>
        </div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      {
        features.map((feature) => (
          <div class="w-full px-4 md:w-1/2 lg:w-1/4">
            <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
              <div
                class="relative z-10 mb-10 flex h-[70px] w-[70px] items-center justify-center rounded-[14px] bg-primary"
              >
                <span
                  class="absolute top-0 left-0 -z-[1] mb-8 flex h-[70px] w-[70px] rotate-[25deg] items-center justify-center rounded-[14px] bg-primary bg-opacity-20 duration-300 group-hover:rotate-45"
                ></span>
                <img src={feature.icon} alt="icon" />
              </div>
              <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">
                {feature.title}
              </h4>
              <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
                {feature.description}
              </p>
              <a
                href={feature.ref}
                class="text-base font-medium text-dark dark:text-white hover:text-primary dark:hover:text-primary"
              >
                {feature.refTitle}
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Features Section End -->